<section
  id="about"
  class="intersect abouttrigger flex h-fit w-full flex-col gap-6 overflow-hidden bg-gray-300 py-32 lg:gap-20"
>
  <article
    id="about_headline"
    class="col-span-full row-start-1 items-center lg:col-start-1"
  >
    <h2 class="text-center font-bodyfont text-5xl font-bold">About me</h2>
  </article>
  <div
    class="flex w-full flex-col place-content-center gap-8 md:flex-row lg:gap-16"
  >
    <div
      id="about_img"
      class="col-start-2 col-end-5 row-start-2 mx-auto grid w-full min-w-[250px] max-w-sm justify-center lg:col-start-2 lg:col-end-3 lg:row-start-2 lg:-m-10 lg:justify-items-end"
    >
      <img src="../../assets/Lasse-03.jpeg" class="rounded-3xl" alt="" />
    </div>
    <div
      id="about_text"
      class="col-start-2 col-end-5 row-start-3 flex w-full flex-col leading-normal lg:col-start-3 lg:row-start-2 lg:w-[55ch] [&>h2]:font-bold [&>h2]:text-primary1 [&>p]:mb-2"
    >
      <p>
        Hello! I'm a Web Developer who just recently finished my studies at KEA.
        As a developer I'm passionate about learning and growing as a developer.
      </p><p>
        I'm actively seeking a <span class="font-bold">fulltime position</span>
         in Frontend, Backend, or Fullstack development. My journey is marked by
        a solid foundation and a commitment to continuous improvement.
      </p>
      <p>
        <h3 class="text-2xl font-semibold text-primary1">Why Choose Me?</h3>
        <ul>
          <li>
            <span class="font-bold text-primary1">Adaptability:</span> My
            willingness to tackle both frontend and backend tasks makes me a
            versatile team member. I'm excited to collaborate and contribute in
            any capacity.
          </li>
          <li>
            <span class="font-bold text-primary1">Eager Learner:</span> I view
            each project as an opportunity to expand my knowledge and skills.
            I'm not just seeking an internship; I'm pursuing mentorship to
            further my growth.
          </li>
        </ul>
      </p>
    </div>
  </div>
</section>

<script is:inline>
  let tl4 = gsap.timeline({
    scrollTrigger: {
      trigger: ".abouttrigger",
      start: "top center",
      end: "140px center",
      scrub: false,
      toggleActions: "play none none reset",
    },
  });

  let tl5 = gsap.timeline({
    scrollTrigger: {
      trigger: ".abouttrigger",
      start: "top center",
      end: "210px center",
      scrub: false,
      toggleActions: "play none none reset",
    },
  });

  let tl6 = gsap.timeline({
    scrollTrigger: {
      trigger: ".abouttrigger",
      start: "top center",
      end: "280px center",
      scrub: false,
      toggleActions: "play none none reset",
    },
  });
  tl4.from("#about_headline", {
    y: 800,
  });
  tl5.from("#about_img", {
    y: 800,
    delay: 0.06,
  });
  tl6.from("#about_text", {
    y: 800,
    delay: 0.12,
  });
</script>
