---
import Lasse from "../images/Lasse-03.jpg";
import type {About} from "./About"
---

<section class="w-full h-full grid grid-cols-2 m-4 p-4">
    <article class="col-span-1 w-full">
        <img src="/Lasse-03.jpg" alt="" />
    </article>
    <article></article>
</section>
