---
import type { About } from "./About";
---

<section
  id="about_bookmark"
  class="intersect about_trigger w-full h-fit grid grid-cols-5 grid-rows-[min-content_min-content] col-span-2 gap-16 bg-gray-300 py-20"
>
  <div id="about_headline" class="row-start-1 col-start-3">
    <h2 class="font-bold font-bodyfont text-5xl">About me</h2>
  </div>
  <div
    id="about_img"
    class="grid col-span-2 row-start-2 w-full h-96 justify-items-end"
  >
    <img src="../../assets/Lasse-03.jpg" class="rounded-3xl h-full" alt="" />
  </div>
  <div
    id="about_text"
    class="col-start-3 flex row-start-2 flex-col w-[55ch] leading-normal [&>p]:mb-2 [&>h2]:text-primary1 [&>h2]:font-bold"
  >
    <p>
      Hello! I'm a web development student in my second semester at KEA,
      passionate about learning and growing as a developer.
    </p><p>
      I'm actively seeking a <span class="font-bold">January internship</span>
      in Frontend, Backend, or Fullstack development. My journey is marked by a
      solid foundation and a commitment to continuous improvement.
    </p>
    <p>
      <h3 class="text-2xl font-semibold text-primary1">Why Choose Me?</h3>
      <ul>
        <li>
          <span class="font-bold text-primary1">Adaptability:</span> My
          willingness to tackle both frontend and backend tasks makes me a
          versatile team member. I'm excited to collaborate and contribute in
          any capacity.
        </li>
        <li>
          <span class="font-bold text-primary1">Eager Learner:</span> I view
          each project as an opportunity to expand my knowledge and skills. I'm
          not just seeking an internship; I'm pursuing mentorship to further my
          growth.
        </li>
      </ul>
    </p>
  </div>
</section>

<script is:inline>
let tl = gsap.timeline({
    scrollTrigger: {
        trigger: ".about_trigger",
        start: "top center",
        end: "140px center",
        scrub: false,
        toggleActions: "play none reverse reset",
    },
});

let tl2 = gsap.timeline({
    scrollTrigger: {
        trigger: ".about_trigger",
        start: "top center",
        end: "210px center",
        scrub: false,
        toggleActions: "play none reverse reset",
    },
});

let tl3 = gsap.timeline({
    scrollTrigger: {
        trigger: ".about_trigger",
        start: "top center",
      end: "280px center",
      scrub: false,
      toggleActions: "play none reverse reset",
    },
  });
  tl.from("#about_headline", {
    y: 800,
  });
  tl2.from("#about_img", {
    y: 800,
    delay: 0.06,
  });
  tl3.from("#about_text", {
    y: 800,
    delay: 0.12,
  });
</script>
