<section
  id="about"
  class="intersect flex flex-col px-20 gap-6 abouttrigger w-full h-fit bg-gray-300 py-20 lg:gap-20"
>
  <article
    id="about_headline"
    class="row-start-1 items-center col-span-full lg:col-start-1"
  >
    <h2 class="font-bold font-bodyfont text-5xl text-center">About me</h2>
  </article>
  <div
    class="flex flex-col md:flex-row gap-8 w-full place-content-center lg:gap-16"
  >
    <div
      id="about_img"
      class="grid row-start-2 col-start-2 col-end-5 lg:col-start-2 lg:col-end-3 lg:row-start-2 w-full justify-center lg:justify-items-end min-w-[250px] lg:-m-10 max-w-sm mx-auto"
    >
      <img src="../../assets/Lasse-03.jpg" class="rounded-3xl" alt="" />
    </div>
    <div
      id="about_text"
      class="row-start-3 col-start-2 col-end-5 lg:col-start-3 flex lg:row-start-2 flex-col w-full lg:w-[55ch] leading-normal [&>p]:mb-2 [&>h2]:text-primary1 [&>h2]:font-bold"
    >
      <p>
        Hello! I'm a web development student in my sixth semester at KEA,
        passionate about learning and growing as a developer.
      </p><p>
        I'm actively seeking a <span class="font-bold">January internship</span>
         in Frontend, Backend, or Fullstack development. My journey is marked by
        a solid foundation and a commitment to continuous improvement.
      </p>
      <p>
        <h3 class="text-2xl font-semibold text-primary1">Why Choose Me?</h3>
        <ul>
          <li>
            <span class="font-bold text-primary1">Adaptability:</span> My
            willingness to tackle both frontend and backend tasks makes me a
            versatile team member. I'm excited to collaborate and contribute in
            any capacity.
          </li>
          <li>
            <span class="font-bold text-primary1">Eager Learner:</span> I view
            each project as an opportunity to expand my knowledge and skills.
            I'm not just seeking an internship; I'm pursuing mentorship to
            further my growth.
          </li>
        </ul>
      </p>
    </div>
  </div>
</section>

<script is:inline>
let tl4 = gsap.timeline({
  scrollTrigger: {
    trigger: ".abouttrigger",
    start: "top center",
    end: "140px center",
    scrub: false,
    toggleActions: "play none none reverse",
  },
});

let tl5 = gsap.timeline({
  scrollTrigger: {
    trigger: ".abouttrigger",
    start: "top center",
    end: "210px center",
    scrub: false,
    toggleActions: "play none none reverse",
  },
});

let tl6 = gsap.timeline({
  scrollTrigger: {
    trigger: ".abouttrigger",
    start: "top center",
    end: "280px center",
    scrub: false,
    toggleActions: "play none none reverse",
  },
});
tl4.from("#about_headline", {
  y: 800,
});
tl5.from("#about_img", {
  y: 800,
  delay: 0.06,
});
tl6.from("#about_text", {
  y: 800,
  delay: 0.12,
});
</script>
