---
import {Image} from "astro:assets";
import lasse from '../../assets/Lasse-03.jpg'
import type {About} from "./About"
---

<section class="w-full h-full grid grid-cols-2 m-4 p-4">
    <article class="col-span-1 w-full">
        <!-- <Image src={lasse} alt='selfie of Lasse'> -->
    </article>
    <article></article>
</section>
