---
const { href } = Astro.props;
---

<div
  class="hidden fixed z-[100] top-0 left-0 w-full h-full flex bg-[#5b708366] download_modal"
>
  <div
    class="mx-auto my-auto w-80 h-48 flex flex-col justify-between items-center rounded-2xl border animation-pulse border-white bg-primary1 text-white py-8 px-12 text-center"
  >
    <p class="text-xl">Do you want to download <span></span>?</p>

    <div
      class="[&>button]:p-2 [&>button]:border [&>button]:border-white [&>button]:rounded-lg [&>button]:transition [&>button]:ease-in-out [&>button]:duration-300"
    >
      <button class="mr-4 hover:border-accent1"
        ><a download target="_blank" href={href}>Download</a></button
      >
      <button class="hover:border-accent1 cancel">Cancel</button>
    </div>
  </div>
</div>
