---
const { href } = Astro.props;
---

<div
  class="download_modal fixed left-0 top-0 z-[100] flex hidden h-full w-full bg-[#5b708366]"
>
  <div
    class="animation-pulse mx-auto my-auto flex h-48 w-80 flex-col items-center justify-between rounded-2xl border border-white bg-primary1 px-12 py-8 text-center text-white"
  >
    <p class="text-xl">Do you want to download file Lasse_CV.pdf?</p>

    <div
      class="[&>button]:rounded-lg [&>button]:border [&>button]:border-white [&>button]:p-2 [&>button]:transition [&>button]:duration-300 [&>button]:ease-in-out"
    >
      <button class="mr-4 hover:border-accent1"
        ><a download target="_blank" href={href}>Download</a></button
      >
      <button class="cancel hover:border-accent1">Cancel</button>
    </div>
  </div>
</div>
