---
const { bookmark } = Astro.props;
---

<nav class="sticky top-0 z-40 h-20 w-full bg-primary1">
  <div class="grid h-full w-full bg-primary1 px-12">
    <a
      class="max-h-ful col-start-1 ml-4 flex max-w-fit items-center font-bodyfont text-2xl font-normal text-offwhite"
      href="index.html"
    >
      LWJ
    </a>
    <div id="end_of_nav" class="col-start-2 flex flex-row-reverse items-center">
      <div id="nav_links">
        <ul
          class="flex items-center justify-between [&>*]:text-primary2 [&>li]:pl-3"
        >
          <li>
            <a href="index" id="home">HOME</a>
          </li>
          <li>
            <a href="projects" id="projects">PROJECTS</a>
          </li>
          <li>
            <a href="about" id="about">ABOUT</a>
          </li>
          <li>
            <a href="contact" id="contact">CONTACT</a>
          </li>
          <li>
            <a href="resume" id="resume">RESUME</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div
    class="scrollIndicator col-span-2 -ml-12 hidden h-0.5 self-end bg-white/20"
  >
    <div class="progress h-full bg-accent1"></div>
  </div>
</nav>
