---
import { atom } from "nanostores";
export const isOpen = atom("");
const { bookmark } = Astro.props;
console.log(isOpen);
---

<nav class="bg-primary1 w-full h-20 z-40 sticky top-0">
  <div class="bg-primary1 grid w-full px-12 h-full">
    <a
      class="ml-4 flex items-center text-offwhite text-2xl font-normal max-w-fit font-bodyfont col-start-1 max-h-ful"
      href="index.html"
    >
      LWJ
    </a>
    <div id="end_of_nav" class="flex flex-row-reverse items-center col-start-2">
      <div id="nav_links">
        <ul
          class="flex justify-between items-center [&>li]:pl-3 [&>*]:text-primary2"
        >
          <li>
            <a href="index" id="home">HOME</a>
          </li>
          <li>
            <a href="projects" id="projects">PROJECTS</a>
          </li>
          <li>
            <a href="about" id="about">ABOUT</a>
          </li>
          <li>
            <a href="contact" id="contact">CONTACT</a>
          </li>
          <li>
            <a href="resume" id="resume">RESUME</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div
    class="scrollIndicator h-0.5 self-end -ml-12 bg-white/20 col-span-2 hidden"
  >
    <div class="progress bg-accent1 h-full"></div>
  </div>
</nav>
